.instagram-logo-link{
  background-image: asset_url("Instagram_logo.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}